.App {
  background-color: #f6f6f6;
  color: #0d1d2c;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding-top: 30px;
  font-family: montserratS;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.resultSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expenseBox {
  display: flex;
  flex-direction: column;
  width: 135px;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 60px;
  align-items: flex-start;
  padding: 5px 10px;
  justify-content: space-between;
}

.expenseBox span {
  font-weight: bold;
  color: green;
}
